# Python
*.py[cod]
__pycache__/
*.so
env/
venv/
.env

# Django
*.log
*.pot
*.pyc
media/
staticfiles/

# Keep these files
!fixtures/
!fixtures/*.json

# VS Code
.vscode/

# System Files
.DS_Store
Thumbs.db